<section class="about-container">
<h1>About the developers</h1>

<h1>Francisco</h1>

<div class="image-container">
  <img src="../../assets/images/Flaw-Chat-Francisco.jpeg" alt="Francisco" width="350">
</div>

<p>
  Francisco Castro is a student at Zip Code Wilmington. He is currently part of the Cohort 5.0. He is passionate about technology and programming. His background includes a PhD in Electrical Engineer and 2 postdocs. As a researcher and student, Francisco is very enthusiastic on using his knowledge from one field an applying to another but most important is learning more on that process.
</p>

<h1>Laxmi</h1>

<div class="image-container">
  <img src="../../assets/images/Screen%20Shot%202019-04-23%20at%209.25.06%20PM.png" alt="Laxmi" width="350">
</div>

<p></p>

<h1>Alex</h1>

<div class="image-container">
  <img src="../../assets/images/AlexLinkedinPhoto%20(1).JPG" alt="Alex" width="400">
</div>

<p>
  Student with a degree in ecology training to become a software developer. Attending Zip Code Wilmington, working 80+ hours a week to learn Java, work in teams with my cohort, and develop my own passion project. Applying my skills of critical thinking and problem solving from my science background, I hope to work with a great team in the Wilmington area.
</p>

<h1>William</h1>

<div class="image-container">
  <img src="../../assets/images/Flaw-Chat-William.jpeg" alt="William" width="350">
</div>

<p>
  Software Developer with a versatile skill set and experience in statistics, mathematics, and economics. Detail-oriented with proven success working in corporate financial environments with a data-first approach, a strong desire to help others, and a passion for problem-solving.
</p>
</section>
