.view-message-container {
  height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.bar-fixed-bottom {
  position: fixed;
  top: 94vh;
  height: 6vh;
  width: 75vw;
}

ul {
  text-decoration: none;
  list-style: none;
}
