<div class="item">
    <div *ngIf="channel">
      <div class="view-message-container">
        <ul class="messages">
          <li *ngFor="let message of messages">
              <span class="badge">{{message.user.username}}</span> {{message.messageBody}}
          </li>
        </ul>
      </div>
    </div>
    <div *ngIf="channel == undefined || channel.name == undefined">
      <h2>Messages has no selected channel</h2>
    </div>
</div>

<div class="bar-fixed-bottom">
  <app-new-message-bar [channel]="channel" [user]="user"></app-new-message-bar>
</div>
