<div class="form-group">
  <div class="form-group">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button type="button">
          <img src="../../assets/images/baseline-add_box-24px.svg" width="24">
        </button>
      </div>
      <input type="text" #messageText class="form-control" aria-label="Amount (to the nearest dollar)">
      <div class="input-group-append">
        <button type="submit" (click)="sendMessageToChannel(messageText.value); messageText.value=''">
          <img src="../../assets/images/baseline-send-24px.svg" width="24">
        </button>
      </div>
    </div>
  </div>
</div>
