<body class="background">
<section class="about-container">
      <div class="image-container">
        <img src="../../assets/images/minilogo.png">
      </div>
      <h3 class="text-center">Welcome to FLAW Chat!</h3>
  <h6 class="text-center">Please select or create your username in the Users tab, then proceeding to one of our chat channels in Channels.</h6>
  <h6 class="text-center">We hope you enjoy using FLAW Chat as much as we enjoyed building it. To learn more about the developers, check out the About Page.</h6>
</section>
</body>
